@model IEnumerable<MovieRentalAppProject.Models.BookingModel>

@{
    ViewData["Title"] = "GetAllBookings";
}

<h1>GetAllBookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bookingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.confirmPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movie.movieId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.bookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.bookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.bookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
