@model MovieRentalAppProject.Models.UserModel

<br />

<header>
    @Html.Partial("NavBarPartialViewAdmin")
</header>

<br />

<h3>User Details</h3>

<p><strong>User ID:</strong> @Model.userId</p>
<p><strong>Name:</strong> @Model.userName</p>
<p><strong>Email:</strong> @Model.userEmail</p>

<h4>@Model.firstName Bookings</h4>

@if (Model.bookings.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Movie ID</th>
                @*<th>Movie Name</th>*@
                <th>Booking Date</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.bookings)
            {
                <tr>
                    <td>@booking.bookingId</td>
                    <td>@booking.movieId</td>
                    @*<td>@booking.movie.movieName</td>*@
                    <td>@booking.bookingTime</td>
                    
                    
                    <td>
                        <a class="btn btn-danger" asp-controller="Booking" asp-action="DeleteBookings" asp-route-id="@booking.bookingId"> Delete </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No bookings found for this user.</p>
}


<br />
<footer>
    @Html.Partial("FooterView")
</footer>