@model IEnumerable<MovieRentalAppProject.Models.MovieModel>
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Allmovies";
}
<br />
<header>
    @Html.Partial("NavBarPartialViewUser")
</header>
<br />

<h1>Welcome @Accessor.HttpContext.Session.GetString("UserName")  </h1>
<h4>Buy Your Movies Here</h4>



@*<p>
    <a class="btn btn-secondary" asp-action="AddMovies">Add Movie</a>
</p>*@

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="data:image/png;base64,@Convert.ToBase64String(movie.ImageData)" class="card-img-top" alt="@movie.movieId">
                <div class="card-body">
                    <h5 class="card-title"><strong>Name : </strong>@movie.movieName</h5>
                    <p class="card-text"><strong>Category : </strong>@movie.movieCategory</p>
                    <p class="card-text"><strong>Price : </strong> @movie.rentPrice</p>
                    <p class="card-text"><strong>Director : </strong> @movie.director</p>
                    <p class="card-text"><strong>Actor : </strong> @movie.actors</p>
                    <a class="btn btn-warning" asp-controller="Booking" asp-action="MovieDetails" asp-route-id="@movie.movieId"> Buy </a>
                   @* <a class="btn btn-danger" asp-action="DeleteMovies" asp-route-id="@movie.movieId">  </a>*@
                </div>
            </div>
        </div>
    }
</div>
<br />
<footer>
    @Html.Partial("FooterView")
</footer>

































@*@model IEnumerable<MovieRentalAppProject.Models.MovieModel>

@{
    ViewData["Title"] = "AllmoviesUser";
}

<h1>AllmoviesUser</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.movieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movieCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rentPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.movieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movieCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rentPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.movieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.movieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.movieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@