@model MovieRentalAppProject.Models.MovieModel

@{
    ViewData["Title"] = "Movie Details";
}

<h1>Movie Details</h1>
<br />

<header>
    @Html.Partial("NavBarPartialViewUser")
</header>
<br />

@*@if (TempData["ShowAlert"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ShowAlert"]
    </div>
}*@

<div class="card mb-4">
    <img src="data:image/png;base64,@Convert.ToBase64String(Model.ImageData)" class="card-img-top" alt="@Model.movieId">
    <div class="card-body">
        
        <h5 class="card-title"><strong>Name : </strong>@Model.movieName</h5>
        <p class="card-text"><strong>Category : </strong>@Model.movieCategory</p>
        <p class="card-text"><strong>Price : </strong> @Model.rentPrice</p>
        <p class="card-text"><strong>Director : </strong> @Model.director</p>
        <p class="card-text"><strong>Actor : </strong> @Model.actors</p>

       @* @if (TempData["ShowAlert"] == null)
        {*@
            <a class="btn btn-warning" asp-controller="Booking" asp-action="AddBookings" asp-route-id="@Model.movieId">Buy Now</a>
        
        @*<a class="btn btn-warning" asp-controller="Booking" asp-action="AddBookings" asp-route-id="@Model.movieId">Buy Now</a>*@
      @*  <a class="btn btn-danger" asp-action="Allmoview" asp-route-id="@Model.movieId">Cancel</a>*@
        <a class="btn btn-secondary" asp-controller="User" asp-action="AllmoviesUser">Back to All Movies</a>
        
    </div>
</div>


<br />
<footer>
    @Html.Partial("FooterView")
</footer>







@*@model MovieRentalAppProject.Models.MovieModel

@{
    ViewData["Title"] = "MovieDetails";
}

<h1>MovieDetails</h1>

<div>
    <h4>MovieModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movieCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movieCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.movieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@